<footer class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/5">
    <p class="pt-5 mb-1.5 text-center text-sm leading-6 text-slate-500">© All rights reserved. 广州鼎商金属制品有限公司 Powered by Github Page</p>
    <div class="flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
      <a href="https://www.dsjsdz.com/contact">Contact us</a>
      <div class="h-4 w-px bg-slate-500/20"></div>
      <a href="https://www.dsjsdz.com">Official website</a>
    </div>
  </div>
</footer>
